<footer class="text-center text-lg-start bg-white text-muted">
  <!-- Copyright -->
  <section class="d-flex justify-content-center justify-content-lg-between p-5 border-bottom">
  </section>
  
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.04);">
    © 2023 TODOS LOS DERECHOS RESERVADOS POR LA MUNICIPALIDAD DE SANTO DOMINGO.
  </div>
  <!-- <div style="display: flex; background-color: rgba(0, 0, 0, 0.04);">
    <div class="text-center p-3"> @YosoyYO</div>
    <div class="text-center p-3"> @ElesEl</div>
  </div> -->

  <!-- Copyright -->

</footer>