<footer class="text-center text-lg-start bg-white text-muted">
  
  <!-- Espacio entre el contenido y el final de la página -->
  <section class="d-flex justify-content-center justify-content-lg-between p-5 border-bottom">
  </section>
  
  <!-- Diseñado por estudiantes de la Universidad Nacional (Marck, Luis, Ema, Rafa y Dani) -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.04);">
    © 2023 TODOS LOS DERECHOS RESERVADOS POR LA MUNICIPALIDAD DE SANTO DOMINGO.
  </div>
</footer>