.tituloBienvenida{
    margin: auto;
    width: 55%;
    margin-bottom: 5%;
}

.tablaCitasFunc{
    margin: auto;
    width: 85%;
    padding: 10px;
}

.tituloTablaCitas{
    margin: auto;
    width: 25%;
}