.div-area-depto-info {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2.5%;
}

.div-area-depto {
    width: 40%;
    margin-right: 5%;
    margin-left: 10%;
}
.div-info {
    width: 60%;
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 5%;
    /* margin-left: 15%; */
    /* resize: none; */
}

.div-titulo {
    margin-top: 1%;
    text-align: center;
}

.cbDpto {
    margin: auto;
}

.liTramites {
    border-bottom: 1px solid #ccc;
}

.liNombreFuncionario {
    border-bottom: 1px solid #ccc;
}

.tablaCitas {
    margin: auto;
    width: 75%;
    padding: 10px;
    /* overflow-y: scroll; */
}

.tituloTabla {
    margin-left: 46%;
    width: 12%;
}


.tituloBienvenida{
    margin: auto;
    width: 17%;
    padding: 10px;
}
