.div-area-depto-info {
    display: flex;
    margin-top: 2%;
    margin-bottom: 3%;
}

.div-area-depto {
    width: 40%;
    margin-right: 5%;
    margin-left: 10%;
}
.div-info {
    width: 60%;
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 5%;
}

.div-titulo {
    margin-top: 1%;
    text-align: center;
}

.cbDpto {
    margin: auto;
}

.liTramites {
    border-bottom: 1px solid #ccc;
}

.liNombreFuncionario {
    border-bottom: 1px solid #ccc;
}

.tablaCitas {
    margin: auto;
    width: 75%;
    padding: 10px;
    overflow-x: auto;
}

.tituloTabla {
    margin-left: 46%;
    width: 12%;
}


.tituloBienvenida{
    margin: auto;
    width: 17%;
    padding: 10px;
}

.div-botones {
    display: flex;
    margin-top: 0%;
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 2%;
  }
  
.div-btnAnterior {
  width: 50%;
}

.div-btnSiguiente {
  width: 50%;
  direction: rtl;
}

.btn-anterior:hover {
  color:#6ca34f !important;
  background-color: #fff;
  border-color:#4cae4c !important;
}

.btn-siguiente:hover {
  color:#6ca34f !important;
  background-color: #fff;
  border-color:#4cae4c !important;
}

.avisodeSuplente{
  margin-top: 5%;
  color: red;
  text-align: center;
  margin-right: 10%;
}