<!-- <h3 class="tituloBienvenida">Reserva una cita</h3> -->
<div class="div-titulo">
  <p class="lead">
    <strong>Seleccione un área y un departamento para desplegar las citas disponibles</strong>
  </p>
</div>

<div class="div-area-depto-info">
  <div class="div-area-depto">
      <h5>Área</h5>
      <!-- (change)="prueba($event)" -->
      <select #selectArea class="form-select" aria-label="Default select example"
        (change)="filtrarDepartamentosPorArea(selectArea.value); mostrarBotonesAnteriorSiguiente(selectArea.value)">
        <option selected value=''>Seleccione el área</option>
        <option *ngFor="let area of areas" value="{{area.numArea}}">{{area.numArea}} - {{area.nombre}}</option>
      </select>
      <br>
      <hr>
      <h5>Departamento</h5>
      <select #selectDepa class="form-select" aria-label="Default select example"
        (change)="filtrarFuncionariosEncargadosPorDepa(selectDepa.value); filtrarDescripcionesPorDepa(selectDepa.value); 
        getCitasReservadas(this.funcionarioEncargado.idFuncionario); resetearContadorSemanas(); mostrarBotonesAnteriorSiguiente(selectDepa.value)">
        <option selected value=''>Seleccione el departamento</option>
        <option *ngFor="let departamento of departamentosPorArea " value="{{departamento.numDepartamento}}">
          {{departamento.numDepartamento}} - {{departamento.nombre}}
        </option>
      </select>
  </div>
  <!-- Si el área o el departamento no tienen valor seleccionado entonces no muestre la información del funcionario encargado -->
  <div class="div-info" *ngIf="selectArea.value !== '' && selectDepa.value !== ''">
    <h6 *ngIf="funcionariosEncargadosPorDepa.length !== 0">Funcionario a cargo</h6>
    <ul class="list-group">
      <li *ngFor="let funcionario of funcionariosEncargadosPorDepa">
        {{funcionario.nombre}} {{funcionario.apellido1}} {{funcionario.apellido2}}
    </ul> 
    <br>
    <h6 *ngIf="funcionariosEncargadosPorDepa.length !== 0">Tramite(s) a cargo</h6>
    <ul class="list-group">
      <!-- <li *ngFor="let departamento of descripcionesPorDepa" class="liTramites">{{departamento.descripcion}}</li> -->
      <li *ngFor="let departamento of descripcionesPorDepa">
        {{departamento.descripcion}}
      </li>
    </ul>
  </div>
</div>
  
<!-- <h5 class="tituloTabla">Citas disponibles</h5> -->

<div class="tablaCitas">
  <app-reserva-tabla [funcionarioEncargado]="funcionarioEncargado" [citasDisponibles]="citasDisponibles" *ngIf="selectDepa.value !== ''" (mostrarBotones)="recibirMostrarBotones($event)"></app-reserva-tabla>
</div>

<!-- Botones "anterior" y "siguiente"-->

<div class="div-botones" *ngIf="mostrarBtns === 1">
  <div class="div-btnAnterior">
    <!-- Si el valor del contador es 0 quiere decir que me encuentro en la semana actual -->
    <button *ngIf="contadorSemanas !== 0" class="btn btn-outline-primary btn-rounded waves-effect btn-anterior" type="button" id="anteriorBtn" (click)=" citasSemanaAnterior()">← Anterior</button>
  </div>
    <!-- Si el valor del contador es mayor que 1 quiere decir que avanzó en una semana las citas disponibles -->
  <div class="div-btnSiguiente">
    <button *ngIf="contadorSemanas < 1" class="btn btn-outline-primary btn-rounded waves-effect btn-siguiente" type="button" id="siguienteBtn" (click)="citasSemanaSiguiente()">→ Siguiente</button>
  </div>
</div>
