.divFormulario{
    margin: auto;
    width: 75%;
    padding: 10px;
}

.divEnviar{
    margin: auto;
    width: 25%;
    padding: 10px;
}

.btnEnviar{
    background-color: #039dfc;
}

.btnEnviar:hover {
    color:#fff;
    background-color:#6ca34f !important;
    border-color:#4cae4c !important;
  }

.divDescr{
    margin: auto;
    width: 100%;
    padding: 10px;
}