<form  [formGroup]="clientForm" class="row g-3 divFormulario">
    <div class="col-md-4">
        <label for="validationDefault01" class="form-label">Fecha</label>
        <input name="fecha" type="text" class="form-control" id="validationDefault01" value="{{fechaCitaString}}" required disabled>
    </div>
    <div class="col-md-4">
        <label for="validationDefault02" class="form-label">Hora</label>
        <input name="hora" type="text" class="form-control" id="validationDefault02" value="{{horaCitaFormateada}}" required disabled>
    </div>
    <div class="col-md-4">
        <label for="validationDefault03"class="form-label">Funcionario</label>
        <input name="nombreFuncionario" type="text" class="form-control" id="validationDefault03" value="{{nombreFuncionario}}" required disabled>
    </div>
    <div class="col-md-4">
        <label for="validationDefault04" class="form-label">Nombre</label>
        <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': enviar && f['nombre'].errors }" [(ngModel)]="citaPadre.nombreContribuyente"/>
        <div *ngIf="enviar && f['nombre'].errors" class="invalid-feedback">
            <div *ngIf="f['nombre'].errors?.['required']">Nombre en blanco</div>
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationDefault05" class="form-label">Primer Apellido</label>
        <input type="text" formControlName="apellidouno" class="form-control" [ngClass]="{ 'is-invalid': enviar && f['apellidouno'].errors }" [(ngModel)]="citaPadre.apellido1Contribuyente"/>
        <div *ngIf="enviar && f['apellidouno'].errors" class="invalid-feedback">
            <div *ngIf="f['apellidouno'].errors?.['required']">Apellido en blanco</div>
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationDefault06" class="form-label">Segundo Apellido</label>
        <input type="text" formControlName="apellidodos" class="form-control" [ngClass]="{ 'is-invalid': enviar && f['apellidodos'].errors }" [(ngModel)]="citaPadre.apellido2Contribuyente"/>
        <div *ngIf="enviar && f['apellidodos'].errors" class="invalid-feedback">
            <div *ngIf="f['apellidodos'].errors?.['required']">Apellido en blanco</div>
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationDefault07" class="form-label">Cédula</label>
        <input type="text" formControlName="cedula" class="form-control" [ngClass]="{ 'is-invalid': enviar && f['cedula'].errors }" [(ngModel)]="citaPadre.idContribuyente"/>
        <div *ngIf="enviar && f['cedula'].errors" class="invalid-feedback">
            <div *ngIf="f['cedula'].errors?.['required']">Cedula en blanco o incompleta</div>
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationDefault08" class="form-label">Teléfono</label>
        <input type="text" formControlName="telefono" class="form-control" [ngClass]="{ 'is-invalid': enviar && f['telefono'].errors }" [(ngModel)]="citaPadre.telefonoContribuyente"/>
        <div *ngIf="enviar && f['telefono'].errors" class="invalid-feedback">
            <div *ngIf="f['telefono'].errors?.['required']">Telefono en blanco</div>
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationDefault09" class="form-label">Correo Electrónico</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': enviar && f['email'].errors }" [(ngModel)]="citaPadre.correoContribuyente"/>
        <div *ngIf="enviar && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors?.['required']">Correo en blanco o invalido</div>
        </div>
    </div>

    <div for="validationDefault10" class="col-md-4 divDescr">
        <label class="form-label">Motivo de la cita</label>
        <textarea [(ngModel)]="citaPadre.detalle" name="descripcion" [ngModelOptions]="{standalone: true}" class="form-control" id="validationDefault10"></textarea>  <!-- type="text" class="form-control" id="validationDefault06" value="" required> -->
    </div>


    <div class="col-12 divEnviar">
        <button class="btn btn-primary btnEnviar" (click)="guardarCita(citaPadre)">Enviar formulario</button>
    </div>

</form>