<div class="div-filtro">
  <div class="div-fecha-inicio">
    <label for="selectorFechaInicio">Fecha inicial</label>
    <input class="input-selectores-fechas" type="date" id="selectorFechaInicio" [(ngModel)]="fechaInicio">
  </div>
  <div class="div-fecha-final">
    <label for="selectorFechaFinal">Fecha final</label>
    <input class="input-selectores-fechas" type="date" id="selectorFechaFinal" [(ngModel)]="fechaFinal">
  </div>
  <div class="div-boton-busqueda">
    <button class="btn btn-primary col-7 btn-hover" (click)="filtrarFechas()">Buscar</button>
  </div>
</div>

<div class="scroll">
<table class="table" >
    <thead class="table-primary">
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Funcionario</th>
        <th scope="col">Contribuyente</th>
        <th scope="col">Motivo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cita of citasReservadasFiltradas">
        <td>{{cita.fecha.toLocaleDateString()}}</td>
        <td>{{cita.fecha.toLocaleTimeString('en-US', {hour12: true, hour: '2-digit', minute: '2-digit'})}}</td>
        <td>{{cita.idFuncionario}}</td>
        <td>{{cita.nombreContribuyente}}</td>
        <td>{{cita.detalle}}</td>
      </tr>
    </tbody>
  </table>
</div>