<div class="div-titulo-tabla">
  <p class="lead">
    <strong>Seleccione la cita reservada que desea cancelar</strong>
  </p>
</div>

<table class="table">
  <thead class="table-primary">
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Funcionario</th>
      <th scope="col">Descripción</th>
      <th scope="col">Estado</th>
      <th scope="col" class="text-center">Cancelar cita</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cita of citasContribuyente">
      <td>{{cita.fecha.toLocaleDateString()}}</td>
      <td>{{cita.fecha.toLocaleTimeString('en-US', {hour12: true, hour: '2-digit', minute: '2-digit'})}}</td>
      <td>{{cita.idFuncionario}}</td>
      <td>{{cita.detalle}}</td>
      <td>{{cita.estado}}</td>
      <td *ngIf="cita.estado !== 'Ausente'" class="text-center">
        <button type="button" class="btn btn-primary" (click)="show(1, cita.id);">Cancelar</button>
      </td>
      <td *ngIf="cita.estado === 'Ausente'" class="text-center">
        <button type="button" class="btn btn-danger" disabled>Cancelada</button>
      </td>
    </tr>
  </tbody>
</table>


<div class="uc-modal" *ngIf="showModal === 1">
  <div class="uc-m-content">
    <div class="uc-m-header">
      <span class="material-symbols-outlined" (click)="close()">
          X
      </span>
      <h4>Cancelar su cita</h4>
    </div>
    <div class="uc-m-body">
      <label>¿Está seguro de que desea cancelar la cita?</label><br>
    </div>
    <div class="uc-m-footer">
      <button class="btn btn-primary" (click)=" marcarAusente()">Cancelar cita</button>
      <button class="btn btn-danger" (click)="close()">Salir</button>
    </div>
  </div>
</div>