<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Descripción</th>
      <th scope="col">Cancelar cita</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>22/2/2023</th>
      <td>5:00pm</td>
      <td>Revision de planos</td>
      <td>
        <button type="button" class="btn btn-primary" (click)="show(1)">Cancelar</button>
      </td>
    </tr>
  </tbody>
</table>


<div class="uc-modal" *ngIf="showModal === 1">
  <div class="uc-m-content">
    <div class="uc-m-header">
      <span class="material-symbols-outlined" (click)="close()">
          X
      </span>
      <h4>Cancelar su cita</h4>
    </div>
    <div class="uc-m-body">
      <label>¿Está seguro de que desea cancelar la cita?</label><br>
    </div>
    <div class="uc-m-footer">
      <button class="btn btn-primary">Cancelar cita</button>
      <button class="btn btn-danger" (click)="close()">Salir</button>
    </div>
  </div>
</div>