<div>
  <div class="divBotones">
    <button class="btn btn-primary btnOpciones btn-hover" (click)="showArea(1)">Agregar nueva área</button>
    <button class="btn btn-primary btnOpciones btn-hover" (click)="showDpto(1)">Agregar nuevo departamento</button>
    <button class="btn btn-primary btnOpciones btn-hover" (click)="showAgrFunc(1)">Agregar nuevo funcionario</button>
    <button class="btn btn-primary btnOpciones btn-hover" (click)="showPswrdFunc(1)">Cambiar contraseña a funcionario</button>
  </div>
</div>

<!-- Pop up para agregar una nueva area-->
<div class="uc-modal" *ngIf="showModalArea === 1">
  <div class="uc-m-content">
    <div class="uc-m-header">
      <!-- <img class="material-icons" src="assets\images\close.svg" alt="close" (click)="closeArea()"> -->
     
      <h4>Agregar una nueva área</h4>
    </div>
    <div class="uc-m-body">
      <label>Digite el número del área a crear</label><br>
      <div>
        <input name="areanueva" type="text" class="form-control inputInfo" id="validationDefault01" value="" [(ngModel)]="nuevaArea.numArea" required>
      </div>
      <label>Digite el nombre del área a crear</label><br>
      <div>
        <input name="areanueva" type="text" class="form-control inputInfo" id="validationDefault01" value="" [(ngModel)]="nuevaArea.nombre" required>
      </div>
      <label>Digite la descripción del área a crear</label><br>
      <div>
        <input name="areanueva" type="text" class="form-control inputInfo" id="validationDefault01" value="" [(ngModel)]="nuevaArea.descripcion" required>
      </div>
    </div>
    <div class="uc-m-footer">
      <button class="btn btn-primary btn-hover" (click)="guardarAreas(nuevaArea)">Confirmar</button>
      <button class="btn btn-danger" (click)="closeArea()">Salir</button>
    </div>
  </div>
</div>

<!-- Pop up para agregar un nuevo departamento -->

<div class="uc-modal" *ngIf="showModalDpto === 1">
  <div class="uc-m-content">
    <div class="uc-m-header">
      <!-- <img class="material-icons" src="assets\images\close.svg" alt="close" (click)="closeDpto()"> -->
      
      <h4>Agregar nuevo departamento</h4>
    </div>
    <div class="uc-m-body">
      <label>Seleccione el area a la cual pertenece el nuevo departamento</label><br>
      <div>
        <select #selectArea name="area" id="area" class="form-select" class="form-select selectInfo"
          (change)="setAreaDepa(selectArea.value)">
          <option selected value=''></option>
          <option *ngFor="let area of areas" value="{{area.numArea}}">
            {{area.numArea}} - {{area.nombre}}
          </option>
        </select>
      </div>
      <label>Digite el numero del departamento a crear</label><br>
      <div>
        <input name="departamentonueva" type="text" class="form-control inputInfo" id="validationDefault01" value=""
          required [(ngModel)]="nuevoDepa.numDepartamento">
      </div>
      <label>Digite el nombre del departamento a crear</label><br>
      <div>
        <input name="areanueva" type="text" class="form-control inputInfo" id="validationDefault01" value="" required
        [(ngModel)]="nuevoDepa.nombre">
      </div>
      <label>Digite la descripcion del departamento a crear</label><br>
      <div>
        <input name="areanueva" type="text" class="form-control inputInfo" id="validationDefault01" value="" required
        [(ngModel)]="nuevoDepa.descripcion">
      </div>
    </div>
    <div class="uc-m-footer">
      <button class="btn btn-primary btn-hover" (click)="guardarDepartamento(nuevoDepa)">Confirmar</button>
      <button class="btn btn-danger" (click)="closeDpto()">Salir</button>
    </div>
  </div>
</div>

<!-- Pop up para agregar un nuevo funcionario-->

<div class="uc-modal" *ngIf="showModalAgrFunc === 1">
  <div class="uc-m-content">
    <div class="uc-m-header">
      <!-- <img class="material-icons" src="assets\images\close.svg" alt="close" (click)="closeAgrFunc()"> -->
      
      <h4>Agregar un nuevo funcionario</h4>
      
    </div>
    <div class="uc-m-body">
      <label>Seleccione el departamento al cual pertenece el nuevo funcionario</label><br>
      <div>
        <select #selectDepa name="dept" id="dept" class="form-select" class="form-select selectInfo"
          (change)="setDepaFuncionario(selectDepa.value)">
          <option selected value=''></option>
          <option *ngFor="let departamento of departamentos" value="{{departamento.numDepartamento}}">
            {{departamento.numDepartamento}} - {{departamento.nombre}}
          </option>
        </select>
      </div>

      <div style="display:flex;">

        <form [formGroup]="funcionarioForm">

          <div style="display: flex;">
            <div>
              <div>
                <label>Cédula del funcionario</label><br>
                <div>
                  <input formControlName="cedula" type="text" class="form-control"
                    [ngClass]="{ 'is-invalid': enviar && f['cedula'].errors }"
                    [(ngModel)]="nuevoFuncionario.idFuncionario">
                  <div *ngIf="enviar && f['cedula'].errors" class="invalid-feedback">
                    <div *ngIf="f['cedula'].errors?.['required']">Cédula en blanco o incompleta</div>
                  </div>
                </div>
              </div>

              <div>
                <label>Correo del funcionario</label><br>
                <div>
                  <input type="text" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': enviar && f['email'].errors }" [(ngModel)]="nuevoFuncionario.correo">
                  <div *ngIf="enviar && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors?.['required']">Correo en blanco o inválido</div>
                  </div>
                </div>
              </div>

              <div>
                <label>Nombre del funcionario</label><br>
                <div>
                  <input type="text" formControlName="nombre" class="form-control"
                    [ngClass]="{ 'is-invalid': enviar && f['nombre'].errors }" [(ngModel)]="nuevoFuncionario.nombre">
                  <div *ngIf="enviar && f['nombre'].errors" class="invalid-feedback">
                    <div *ngIf="f['nombre'].errors?.['required']">Nombre en blanco</div>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-right: -4%; padding-left: 4%;">
              <div>
                <label>Primer apellido del funcionario</label><br>
                <div>
                  <input type="text" formControlName="apellidouno" class="form-control"
                    [ngClass]="{ 'is-invalid': enviar && f['apellidouno'].errors }"
                    [(ngModel)]="nuevoFuncionario.apellido1">
                  <div *ngIf="enviar && f['apellidouno'].errors" class="invalid-feedback">
                    <div *ngIf="f['apellidouno'].errors?.['required']">Primer apellido en blanco</div>
                  </div>
                </div>
              </div>

              <div>
                <label>Segundo apellido del funcionario</label><br>
                <div>
                  <input type="text" formControlName="apellidodos" class="form-control"
                    [ngClass]="{ 'is-invalid': enviar && f['apellidodos'].errors }"
                    [(ngModel)]="nuevoFuncionario.apellido2">
                  <div *ngIf="enviar && f['apellidodos'].errors" class="invalid-feedback">
                    <div *ngIf="f['apellidodos'].errors?.['required']">Segundo apellido en blanco</div>
                  </div>
                </div>
              </div>

              <div>
                <label>Contraseña del funcionario</label><br>
                <div>
                  <input type="text" formControlName="clave" class="form-control"
                    [ngClass]="{ 'is-invalid': enviar && f['clave'].errors }"
                    [(ngModel)]="nuevoFuncionario.contrasenna">
                  <div *ngIf="enviar && f['clave'].errors" class="invalid-feedback">
                    <div *ngIf="f['clave'].errors?.['required']">Contraseña en blanco o inválido</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

        

      </div>
      <!-- <label>Seleccione si el funcionario va a ser encargado</label><br>
      <div>
        <select name="areas" id="areas" class="form-select selectInfo" [(ngModel)]="nuevoFuncionario.suplente">
          <option value="">Seleccionar el rol del funcionario</option>
          <option value="S">Encargado</option>
          <option value="N">Suplente</option>
        </select>
      </div> -->
      <label>Seleccione si el funcionario va a ser suplente</label><br>
      <div>
        <select name="areas" id="areas" class="form-select selectInfo" [(ngModel)]="nuevoFuncionario.suplente">
          <!-- <option value="">Seleccionar el rol del funcionario</option> -->
          <option value="S">Si</option>
          <option value="N">No</option>
        </select>
      </div>
      <div class="uc-m-footer">
        <button class="btn btn-primary btn-hover" (click)="guardarFuncionario(nuevoFuncionario)">Confirmar</button>
        <button class="btn btn-danger" (click)="closeAgrFunc()">Salir</button>
      </div>
    </div>
  </div>
</div>

<!-- Pop up para cambiar contrasena a funcionario-->

<div class="uc-modal" *ngIf="showModalPswrdFunc === 1">
  <div class="uc-m-content">
    <div class="uc-m-header">
      <!-- <img class="material-icons" src="assets\images\close.svg" alt="close" (click)="closePswrdFunc()"> -->
      
      <h4>Cambiar contraseña a un funcionario</h4>
    </div>
    <div class="uc-m-body">
      <label>Digite la cedula del funcionario a modificar</label><br>
      <div>
        <input name="areanueva" type="text" class="form-control inputInfo" id="validationDefault01" value="" required>
        <label>Guillermo Ibarra Baez</label>
        <!-- La idea es que al digitar la cedula se cargue el numero de la cedula -->
      </div>
      <label>Ingrese la nueva contraseña</label><br>
      <div>
        <input name="areanueva" type="text" class="form-control inputInfo" id="validationDefault01" value="" required>
      </div>
      <label>Confirmar la contraseña</label><br>
      <div>
        <input name="areanueva" type="text" class="form-control inputInfo" id="validationDefault01" value="" required>
      </div>
    </div>
    <div class="uc-m-footer">
      <button class="btn btn-primary btn-hover">Confirmar</button>
      <button class="btn btn-danger" (click)="closePswrdFunc()">Salir</button>
    </div>
  </div>
</div>

<!-- Tabla de historial -->

<div class="titulo">
  <p class="lead" style="color: rgb(104, 101, 101)">
    <strong>Seleccione una fecha inicial y final para filtrar las citas dentro de ese rango</strong>
</p>
</div>



<!-- <div class="div-indicaciones-filtro">
  <p class="lead">
    <strong>Filtrar citas por rango de fechas</strong>
  </p>
</div> -->

<div class="tablaHistorial">
  <app-administrador-tabla [fechaInicio]="fechaInicio" [fechaFinal]="fechaFinal"></app-administrador-tabla>
</div>

