<!-- Botones de la vista del funcionario -->
<div class="div-botones">
    <button class="btn btn-primary btn-opciones btn-hover" (click)="showArea(1)">Agregar nueva área</button>
    <button class="btn btn-primary btn-opciones btn-hover" (click)="showDpto(1)">Agregar nuevo departamento</button>
    <button class="btn btn-primary btn-opciones btn-hover" (click)="showAgrFunc(1)">Agregar nuevo funcionario</button>
    <button class="btn btn-primary btn-opciones btn-hover" (click)="showPswrdFunc(1)">Cambiar contraseña a funcionario</button>
</div>

<!-- Pop up para agregar una nueva area -->
<div class="uc-modal overflow-auto" *ngIf="showModalArea === 1">
  <div class="uc-m-content">
    <div class="uc-m-header">
      <h4>Agregar una nueva área</h4>
    </div>
    <div class="uc-m-body">
      <form [formGroup]="areaForm">
      <label>Digite el número del área a crear</label><br>
      <div>
        <input formControlName="numero" name="areanueva" type="text" class="form-control" 
        [ngClass]="{ 'is-invalid': enviarNAF && naf['numero'].errors }">
        <div *ngIf="enviarNAF && naf['numero'].errors" class="invalid-feedback">
          <div *ngIf="naf['numero'].errors?.['required']">Número del área en blanco</div>
        </div>
      </div>
      <label>Digite el nombre del área a crear</label><br>
      <div>
        <input formControlName="nombre" name="areanueva" type="text" class="form-control" 
        [ngClass]="{ 'is-invalid': enviarNAF && naf['nombre'].errors }">
        <div *ngIf="enviarNAF && naf['nombre'].errors" class="invalid-feedback">
          <div *ngIf="naf['nombre'].errors?.['required']">Nombre del área en blanco</div>
        </div>
      </div>
      <label>Digite la descripción del área a crear</label><br>
      <div>
        <input formControlName="descripcion" name="areanueva" type="text" class="form-control" 
        [ngClass]="{ 'is-invalid': enviarNAF && naf['descripcion'].errors }">
        <div *ngIf="enviarNAF && naf['descripcion'].errors" class="invalid-feedback">
          <div *ngIf="naf['descripcion'].errors?.['required']">Descripción del área en blanco</div>
        </div>
      </div>
    </form>
    </div>
    <div class="uc-m-footer">
      <button class="btn btn-primary btn-hover" (click)="guardarAreas(nuevaArea)">Confirmar</button>
      <button class="btn btn-danger" (click)="closeArea()">Salir</button>
    </div>
  </div>
</div>

<!-- Pop up para agregar un nuevo departamento -->

<div class="uc-modal overflow-auto" *ngIf="showModalDpto === 1">
  <div class="uc-m-content">
    <div class="uc-m-header">
      
      <h4>Agregar nuevo departamento</h4>
    </div>
    <div class="uc-m-body">
      <label>Seleccione el área a la cual pertenece el nuevo departamento</label><br>
      <div>
        <select #selectArea name="area" id="area" class="form-select" class="form-select"
          (change)="setAreaDepa(selectArea.value)">
          <option selected value=''></option>
          <option *ngFor="let area of areas" value="{{area.numArea}}">
            {{area.numArea}} - {{area.nombre}}
          </option>
        </select>
      </div>
    
    <div style="margin-bottom: 2%;">
      <form [formGroup]="departamentoForm">
      <label>Digite el número del departamento a crear</label><br>
      <div>
        <input formControlName="numero" name="depanuevo" type="text" class="form-control" 
        [ngClass]="{ 'is-invalid': enviarNDF && ndf['numero'].errors }">
        <div *ngIf="enviarNDF && ndf['numero'].errors" class="invalid-feedback">
          <div *ngIf="ndf['numero'].errors?.['required']">Número del departamento en blanco</div>
        </div>
      </div>
      <label>Digite el nombre del departamento a crear</label><br>
      <div>
        <input formControlName="nombre" name="depanuevo" type="text" class="form-control" 
        [ngClass]="{ 'is-invalid': enviarNDF && ndf['nombre'].errors }">
        <div *ngIf="enviarNDF && ndf['nombre'].errors" class="invalid-feedback">
          <div *ngIf="ndf['nombre'].errors?.['required']">Nombre del departamento en blanco</div>
        </div>
      </div>
      <label>Digite la descripción del departamento a crear</label><br>
      <div>
        <input formControlName="descripcion" name="depanuevo" type="text" class="form-control" 
        [ngClass]="{ 'is-invalid': enviarNDF && ndf['descripcion'].errors }">
        <div *ngIf="enviarNDF && ndf['descripcion'].errors" class="invalid-feedback">
          <div *ngIf="ndf['descripcion'].errors?.['required']">Descripción del departamento en blanco</div>
        </div>
      </div>
    </form>
    </div>
    <div class="uc-m-footer">
      <button class="btn btn-primary btn-hover" (click)="guardarDepartamento(nuevoDepa)">Confirmar</button>
      <button class="btn btn-danger" (click)="closeDpto()">Salir</button>
    </div>
    </div>
  </div>
</div>

<!-- Pop up para agregar un nuevo funcionario-->

<div class="uc-modal overflow-auto" *ngIf="showModalAgrFunc === 1">
  <div class="uc-m-content">
    <div class="uc-m-header">
      <h4>Agregar un nuevo funcionario</h4>
    </div>
    <div class="uc-m-body">
      <!-- div que almacena todo el formulario -->
      <div style="margin-bottom: 2%;">
        <form [formGroup]="funcionarioForm">
          <!-- Selector del departamento -->
          <label>Seleccione el departamento al cual pertenece el nuevo funcionario</label><br>
          <div>
            <select #selectDepa name="dept" id="dept" class="form-select select-info" formControlName="departamento"
            [ngClass]="{ 'is-invalid': enviarNFF && f['departamento'].errors }">
              <option selected></option>
              <option *ngFor="let departamento of departamentos" value="{{departamento.numDepartamento}}">
                {{departamento.numDepartamento}} - {{departamento.nombre}}
              </option>
            </select>
            <div *ngIf="enviarNFF && f['departamento'].errors" class="invalid-feedback div-mb">
              <div *ngIf="f['departamento'].errors?.['required']">Debe seleccionar un departamento</div>
            </div>
          </div>
          <!-- div que almacena todos textfields -->
          <div style="display: flex;">
            <!-- div que almacena los textfields de la izquierda -->
            <div>
              <!-- div que almacena el nombre del funcionario -->
              <div>
                <label>Nombre del funcionario</label><br>
                <div>
                  <input type="text" formControlName="nombre" class="form-control"
                  [ngClass]="{ 'is-invalid': enviarNFF && f['nombre'].errors }">
                  <div *ngIf="enviarNFF && f['nombre'].errors" class="invalid-feedback">
                    <div *ngIf="f['nombre'].errors?.['required']">Nombre en blanco</div>
                  </div>
                </div>
              </div>
              <!-- div que almacena el primer apellido del funcionario -->
              <div>
                <label>Primer apellido del funcionario</label><br>
                <div>
                  <input type="text" formControlName="apellidouno" class="form-control"
                  [ngClass]="{ 'is-invalid': enviarNFF && f['apellidouno'].errors }">
                  <div *ngIf="enviarNFF && f['apellidouno'].errors" class="invalid-feedback">
                    <div *ngIf="f['apellidouno'].errors?.['required']">Primer apellido en blanco</div>
                  </div>
                </div>
              </div>
              <!-- div que almacena el segundo apellido del funcionario -->
              <div>
                <label>Segundo apellido del funcionario</label><br>
                <div>
                  <input type="text" formControlName="apellidodos" class="form-control"
                  [ngClass]="{ 'is-invalid': enviarNFF && f['apellidodos'].errors }">
                  <div *ngIf="enviarNFF && f['apellidodos'].errors" class="invalid-feedback">
                    <div *ngIf="f['apellidodos'].errors?.['required']">Segundo apellido en blanco</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- div que almacena los textfields de la derecha -->
            <div style="margin-right: -4%; padding-left: 4%;">
              <!-- div que almacena la cédula del funcionario -->
              <div>
                <label>Cédula del funcionario</label><br>
                <div>
                  <input formControlName="cedula" type="text" class="form-control"
                    [ngClass]="{ 'is-invalid': enviarNFF && f['cedula'].errors }">
                  <div *ngIf="enviarNFF && f['cedula'].errors" class="invalid-feedback">
                    <div *ngIf="f['cedula'].errors?.['required']">Cédula en blanco o incompleta</div>
                  </div>
                </div>
              </div>
              <!-- div que almacena el correo del funcionario -->
              <div>
                <label>Correo del funcionario</label><br>
                <div>
                  <input type="text" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': enviarNFF && f['email'].errors }">
                  <div *ngIf="enviarNFF && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors?.['required']">Correo en blanco o inválido</div>
                  </div>
                </div>
              </div>
              <!-- div que almacena la contraseña del funcionario -->
              <div>
                <label>Contraseña del funcionario</label><br>
                <div>
                  <input type="text" formControlName="clave" class="form-control"
                  [ngClass]="{ 'is-invalid': enviarNFF && f['clave'].errors }">
                  <div *ngIf="enviarNFF && f['clave'].errors" class="invalid-feedback">
                    <div *ngIf="f['clave'].errors?.['required']">Contraseña en blanco o inválida</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Selector para el encargado -->
          <div>
            <label>Seleccione si el funcionario va a ser encargado o suplente</label><br>
            <div>
              <select name="areas" id="areas" formControlName="suplente" class="form-select select-info"
              [ngClass]="{ 'is-invalid': enviarNFF && f['suplente'].errors }">
                <option selected></option>
                <option value="N">Encargado</option>
                <option value="S">Suplente</option>
              </select>
              <div *ngIf="enviarNFF && f['suplente'].errors" class="invalid-feedback">
                <div *ngIf="f['suplente'].errors?.['required']">Debe seleccionar si el funcionario va a ser suplente</div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="uc-m-footer">
        <button class="btn btn-primary btn-hover" (click)="guardarFuncionario()">Confirmar</button>
        <button class="btn btn-danger" (click)="closeAgrFunc()">Salir</button>
      </div>
    </div>
  </div>
</div>

<!-- Pop up para cambiar contrasena a funcionario-->

<div class="uc-modal overflow-auto" *ngIf="showModalPswrdFunc === 1">
  <div class="uc-m-content">
    <div class="uc-m-header">
      <h4>Cambiar contraseña a un funcionario</h4>
    </div>
    <div class="uc-m-body">
    <div style="margin-bottom: 2%;">
      <form [formGroup]="cambiarcontraForm">
        <label>Seleccione el funcionario</label><br>
        <div>
          <select #selectFunc formControlName="idfuncionario" id="func" class="form-select" class="form-select selectInfo"
          [ngClass]="{ 'is-invalid': enviarCCF && ccf['idfuncionario'].errors }">
          <option selected></option>
          <option *ngFor="let funcionario of funcionarios" value="{{funcionario.idFuncionario}}">
            {{funcionario.nombre}} {{funcionario.apellido1}} ({{funcionario.idFuncionario}})
          </option>
          </select>
          <div *ngIf="enviarCCF && ccf['idfuncionario'].errors" class="invalid-feedback div-mb">
            <div *ngIf="ccf['idfuncionario'].errors?.['required']">
              Debe seleccionar un funcionario para realizarle el cambio de contraseña
            </div>
          </div>
        </div>
        <label>Ingrese la nueva contraseña</label><br>
        <div>
          <input formControlName="contrauno" name="contranueva" type="text" class="form-control" 
          [ngClass]="{ 'is-invalid': enviarCCF && ccf['contrauno'].errors }">
          <div *ngIf="enviarCCF && ccf['contrauno'].errors" class="invalid-feedback div-mb">
            <div *ngIf="ccf['contrauno'].errors?.['required']">Contraseña en blanco</div>
          </div>
        </div>
        <label>Confirmar la contraseña</label><br>
        <div>
          <input formControlName="contrados" name="contranueva" type="text" class="form-control" 
          [ngClass]="{ 'is-invalid': enviarCCF && ccf['contrados'].errors }">
          <div *ngIf="enviarCCF && ccf['contrados'].errors" class="invalid-feedback">
            <div *ngIf="ccf['contrados'].errors?.['required']">Confirme la contraseña</div>
          </div>
        </div>
      </form>
    </div>
    </div>
    <div class="uc-m-footer">
      <button class="btn btn-primary btn-hover" (click)="cambiarContra()">Confirmar</button>
      <button class="btn btn-danger" (click)="closePswrdFunc()">Salir</button>
    </div>
  </div>
</div>

<!-- Tabla de historial -->

<div class="titulo">
  <p class="lead" style="color: rgb(104, 101, 101)">
    <strong>Seleccione una fecha inicial y final para filtrar las citas dentro de ese rango</strong>
</p>
</div>

<div class="tablaHistorial">
  <app-administrador-tabla [fechaInicio]="fechaInicio" [fechaFinal]="fechaFinal"></app-administrador-tabla>
</div>