.divBotones{
    display: flex;
    margin: 0 auto;
    margin-top: 2%;
    padding: 1%;
    width: 90%;
    border-radius: 30px;
}

.btnOpciones{
    margin-left: 4%;
}

/*Inicio del CSS de los pop up*/
.uc-modal {
    position: fixed;
    background: #000000bf;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.uc-m-content{
    background: #fff;
    width: 50%;
    margin: 3% auto;
    border-radius: 10px;
}

.uc-m-header{
    padding: 20px;
    background: #3f70ca;
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: relative;
}

.uc-m-header h4{
    margin: 0;
}

.uc-m-header .material-icons{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.uc-m-body{
    padding: 20px;
    min-height: 100px;
}

.uc-m-footer{
    padding: 20px;
    border-top: 1px solid #ccc;
    text-align: right;

}

.uc-m-footer button{
    margin-left: 20px;
    margin-right: 0;
}

.inputInfo{
    width: 30%;
}

.selectInfo{
    width: 77.5%;
    margin-bottom: 2%;
}
.titulo{
    margin: 1.5%;
    text-align: center;
}

.tablaHistorial{
    margin: auto;
    width: 85%;
    padding: 10px;
    height: 180px; 
    margin-bottom: 10%;
    
}

.div-indicaciones-filtro {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.div-filtro {
    display: flex;
    margin-bottom: 2%;
}

.div-fecha-inicio {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    margin-left: 8%;
    margin-right: 2%;
}

.div-fecha-final {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    margin-left: 2%;
    margin-right: 1%;
}

.div-boton-busqueda {
    width: 20%;
    margin-left: 3%;
    margin-right: 1%;
    margin-top: 1.4%;
}

.btn-hover:hover {
    color:#fff;
    background-color:#6ca34f !important;
    border-color:#4cae4c !important;
}