#tituloCancelar{
    margin: 0 auto;
    padding: 2%;
    text-align: center;
}

#instrucciones{
    margin: 0 auto;
    padding: 1%;
    width: 80%;
    text-align: center;
    margin-top: -2%
}

.liInstrucciones{
    padding-bottom: 2%;
}

.divCedula{
    text-align: center;
    margin-bottom: 3%;
    margin-top: -1%
}

.inputCedula{
    width: 28%;
}

.tablaCitasCancel{
    margin: auto;
    width: 85%;
    padding: 10px;
}

.divBusqueda{
    display: flex;
    justify-content: center;
}

.btnBuscar{
    margin-left: 2%;
}

p {
    text-align: center;
}

.centered-div {
    text-align: center;
    display: inline-block;
    margin-left: 25%;
    margin-right: 25%;
}

button:hover {
    color:#fff;
    background-color:#6ca34f !important;
    border-color:#38c738 !important;
}