<table *ngIf="citasFuncionario.length !== 0 else sinCitas" class="table">
  <thead class="table-light">
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Nombre contribuyente</th>
      <th scope="col">Cédula contribuyente</th>
      <th scope="col">Motivo</th>
      <th scope="col">Estado</th>
      <th scope="col" class="text-center">Reagendar Cita</th>
      <th scope="col" class="text-center">Cambiar Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cita of citasFuncionario">
      <td>{{cita.fecha.toLocaleDateString()}}</td>
      <td>{{cita.fecha.toLocaleTimeString('en-US', {hour12: true, hour: '2-digit', minute: '2-digit'})}}</td>
      <td>{{cita.nombreContribuyente}} {{cita.apellido1Contribuyente}}</td>
      <td>{{cita.idContribuyente}}</td>
      <td>{{cita.detalle}}</td>
      <td>{{cita.estado}}</td>
      <td *ngIf="cita.estado !== 'Cancelada' && cita.estado !== 'Reagendada' && cita.estado !== 'Completada' && cita.estado !== 'Ausente'" class="text-center">
        <button type="button" class="btn btn-primary col-10" 
        (click)="showReagenda(1, cita.id); cargarCitaReagendada(cita)">Reagendar</button>
      </td>
      <td *ngIf="cita.estado === 'Cancelada'" class="text-center">
        <button type="button" class="btn btn-danger btn-reagendar col-10" disabled>Reagendar</button>
      </td>
      <td *ngIf="cita.estado === 'Reagendada'" class="text-center">
        <button type="button" class="btn btn-warning btn-reagendar col-10" disabled>Reagendar</button>
      </td>
      <td *ngIf="cita.estado === 'Completada'" class="text-center">
        <button type="button" class="btn btn-success btn-reagendar col-10" disabled>Reagendar</button>
      </td>
      <td *ngIf="cita.estado === 'Ausente'" class="text-center">
        <button type="button" class="btn btn-light btn-reagendar col-10" disabled>Reagendar</button>
      </td>
      <!-- por ahora siempre que yo doy click en cambiar, se cambia el estado de la misma cita porque se envia un id quemado -->
      <!-- por eso mismo hay que tener cuidado, porque hay que estar pendiente de cambiar el id cada vez si me metio otra cita quemada -->
      <!-- Les quite un metodo openModal porque no sabia lo que hacia y me daba error xd -->
      <td *ngIf="cita.estado !== 'Cancelada' && cita.estado !== 'Reagendada' && cita.estado !== 'Completada' && cita.estado !== 'Ausente'" class="text-center">
        <button type="button" class="btn btn-primary col-9" (click)="showEstado(1, cita.id)">Cambiar</button>
      </td>
      <td *ngIf="cita.estado === 'Cancelada'" class="text-center">
        <button type="button" class="btn btn-danger btn-cambiar col-9" disabled>Cambiar</button>
      </td>
      <td *ngIf="cita.estado === 'Reagendada'" class="text-center">
        <button type="button" class="btn btn-warning btn-cambiar col-9" disabled>Cambiar</button>
      </td>
      <td *ngIf="cita.estado === 'Completada'" class="text-center">
        <button type="button" class="btn btn-success col-9" (click)="showEstado(1, cita.id)">Cambiar</button>
      </td>
      <td *ngIf="cita.estado === 'Ausente'" class="text-center">
        <button type="button" class="btn btn-light col-9" (click)="showEstado(1, cita.id)">Cambiar</button>
      </td>
    <!-- (click)="goToPage('formulario')"  entre button y type -->
    </tr>
  </tbody>
</table>

<ng-template #sinCitas>
  <h5 style="color: red; text-align: center;">Actualmente no cuenta con citas pendientes</h5>
  <div style="text-align: center; margin-top: 3%">
    <img style="width: 15%; opacity: 0.5;" src="assets\images\calendario.png">
  </div>
</ng-template>

<!-- Pop-up cambiar estado de la cita -->
<div class="uc-modal" *ngIf="showModalEstado === 1">
  <div class="uc-m-content">
      <div class="uc-m-header">
          <span class="material-symbols-outlined" (click)="closeEstado()">
              X
          </span>
          <h4>Cambiar estado de una cita</h4>
      </div>
      <div class="uc-m-body">
        <h5>Seleccione el estado que desea asignar a la cita</h5>
          <select #selectEstado class="cbEstado" name="cambiarEstado" id="estado">
              <!-- <option selected value="none">  </option> -->
              <option value="completada">Completada</option>
              <option value="ausente">Ausente</option>
          </select>
      </div>
      <div class="uc-m-footer">
          <!-- Este botón va a disparar el evento -->
          <button class="btn-guardar" (click)="actualizarEstado(selectEstado.value)">Guardar Estado</button>
      </div>
  </div>
</div>

<!-- Pop-up reagendar cita -->
<div class="uc-modal-reagenda" *ngIf="showModalReagenda === 1">
  <div class="uc-m-content-reagenda">
    <div class="uc-m-header-reagenda">
        <span class="material-symbols-outlined" (click)="closeReagenda()">
            X
        </span>
        <h4>Seleccione la fecha y hora para reagendar la cita del contribuyente</h4>
    </div>
    <form  class="row g-3 divFormulario">
      <div class="col-md-4">
          <label for="cd-fecha" class="form-label">Fecha</label>
            <select #selectFecha id="cb-fecha" class="form-select" aria-label="Default select example">
              <option selected value=''>Seleccione una fecha</option>
              <option *ngFor="let cita of citasDisponiblesReagenda" value={{cita.fecha}}>{{cita.fecha.toLocaleDateString()}} - {{cita.fecha.toLocaleTimeString('en-US', {hour12: true, hour: '2-digit', minute: '2-digit'})}}</option>
            </select>
      </div>
      <div class="col-md-4">
          <label for="validationDefault03"class="form-label">Funcionario a cargo</label>
          <input name="nombreFuncionario" type="text" class="form-control" id="validationDefault03" value="{{modeloFuncionario.nombre + ' ' + modeloFuncionario.apellido1}}" required disabled>
      </div>
      <div class="col-md-4">
          <label for="validationDefault04" class="form-label">Nombre del contribuyente</label>
          <input type="text" class="form-control" value="{{citaReagendada.nombreContribuyente}}" disabled/>
      </div>
      <div class="col-md-4">
          <label for="validationDefault05" class="form-label">Primer Apellido</label>
          <input type="text" class="form-control" value="{{citaReagendada.apellido1Contribuyente}}" disabled/>
      </div>
      <div class="col-md-4">
          <label for="validationDefault06" class="form-label">Segundo Apellido</label>
          <input type="text" class="form-control" value="{{citaReagendada.apellido2Contribuyente}}" disabled/>
      </div>
      <div class="col-md-4">
          <label for="validationDefault07" class="form-label">Cédula del contribuyente</label>
          <input type="text" class="form-control" value="{{citaReagendada.idContribuyente}}" disabled/>
      </div>
      <div class="col-md-4">
          <label for="validationDefault08" class="form-label">Teléfono</label>
          <input type="text" class="form-control" value="{{citaReagendada.telefonoContribuyente}}" disabled/>
      </div>
      <div class="col-md-4">
          <label for="validationDefault09" class="form-label">Correo Electrónico</label>
          <input type="text" class="form-control" value="{{citaReagendada.correoContribuyente}}" disabled/>
      </div>
      <div class="col-md-4">
        <label for="validationDefault10" class="form-label">Motivo</label>
        <input type="text" class="form-control" value="{{citaReagendada.detalle}}" disabled/>
      </div>
      <div for="validationDefault10" class="col-md-4 divDescr">
          <label class="form-label">Razón de la reagenda</label>
          <!-- Sobreescribe el detalle que había -->
          <textarea #razonReagenda name="razonReagenda" class="form-control ta-motivo" id="validationDefault10" placeholder="La razón será visible para el contribuyente en el correo"></textarea>
      </div>
      <div class="col-12 divEnviar text-center">
          <button class="btn btn-primary btnEnviar" (click)="modificarCitaReagendada(selectFecha.value, razonReagenda.value); guardarCita(); guardarCitaTemp(); actualizarEstado('reagendada')">Reagendar cita</button>
      </div>

    </form>

  </div>
</div>
