<table *ngIf="citasFuncionario.length !== 0" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Nombre contribuyente</th>
      <th scope="col">Cédula contribuyente</th>
      <th scope="col">Motivo</th>
      <th scope="col">Estado</th>
      <th scope="col">Reagendar Cita</th>
      <th scope="col">Cambiar Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cita of citasFuncionario">
      <td>{{cita.fecha.toLocaleDateString()}}</td>
      <td>{{cita.fecha.toLocaleTimeString('en-US', {hour12: true, hour: '2-digit', minute: '2-digit'})}}</td>
      <td>{{cita.nombreContribuyente}}</td>
      <td>{{cita.idContribuyente}}</td>
      <td>{{cita.detalle}}</td>
      <td>{{cita.estado}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-reagendar">Reagendar</button>
      </td>
      <!-- por ahora siempre que yo doy click en cambiar, se cambia el estado de la misma cita porque se envia un id quemado -->
      <!-- por eso mismo hay que tener cuidado, porque hay que estar pendiente de cambiar el id cada vez si me metio otra cita quemada -->
      <!-- Les quite un metodo openModal porque no sabia lo que hacia y me daba error xd -->
      <td>
        <button type="button" class="btn btn-primary btn-cambiar" (click)="show(1, cita.id)">Cambiar</button>
      </td>
    <!-- (click)="goToPage('formulario')"  entre button y type -->
    </tr>
  </tbody>
</table>

<!-- Popup -->
<div class="uc-modal" *ngIf="showModal === 1">
  <div class="uc-m-content">
      <div class="uc-m-header">
          <span class="material-symbols-outlined" (click)="close()">
              X
          </span>
          <h4>Cambiar estado de una cita</h4>
      </div>
      <div class="uc-m-body">
        <h5>Seleccione el estado que desea asignar a la cita</h5>
          <select #selectEstado class="cbEstado" name="cambiarEstado" id="estado">
              <!-- <option selected value="none">  </option> -->
              <option value="completada">Completada</option>
              <option value="ausente">Ausente</option>
          </select>
      </div>
      <div class="uc-m-footer">
          <!-- Este botón va a disparar el evento -->
          <button class="btn-guardar" (click)="actualizarEstado(selectEstado.value)">Guardar Estado</button>
      </div>
  </div>
</div>