.logo{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 75%;
    height: 75%;
}

.labelcred{
    font-size: 125%;
    margin-top: 3%;
}

.loginFondo{
    /* background-color: rgb(20, 148, 67); */
    background-color: rgba(9, 92, 130, 0.735);
}