
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <!-- <div><img class="logo" src="assets\images\logoSD.svg" alt="Logo Municipalidad"></div> -->
            <div class="card loginFondo text-white" style="border-radius: 1rem;">
              <div class="card-body p-4 text-center">
                <div class="mt-md-4 pb-2">
                  <h2 class="fw-bold mb-2 text-uppercase">Inicio de sesión para Funcionarios</h2>
                  <p class="text-white-50 mb-4">Por favor ingrese su número de cédula y contraseña</p>
                    <div class="form-outline form-white mb-4">
                      <input [(ngModel)]="modeloFuncionario.idFuncionario" type="email" id="cedulaFuncLogin" class="form-control form-control-lg" />
                      <label class="form-label labelcred" for="cedulaFuncLogin">Número de cédula</label>
                    </div>
                    <div class="form-outline form-white mb-3">
                      <input [(ngModel)]="modeloFuncionario.contrasenna" type="password" id="contrasenaFuncLogin" class="form-control form-control-lg" />
                      <label class="form-label labelcred" for="contrasenaFuncLogin">Contraseña</label>
                    </div>
                  <p class="small mb-3 pb-lg-2"><a class="text-white-50" href="#!">¿Olvidó la contraseña?</a></p>
                  <button (click)="obtenerFuncionario()" 
                  class="btn btn-outline-light btn-lg px-4" type="button">Iniciar sesión</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
