<div class="principal" id="fondoCasa">
  <div class="divLogo">
    <img class="logo" src="assets\images\logoSD.svg" alt="Logo Municipalidad">
  </div>
</div>

<div class="divNombre">
  <h1 class="nombre">Sistema de Agenda Virtual</h1>
</div>

<div class="container divMenu">
  <nav class="navbar-expand-lg navbar-dark bg-primay">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item opciones" style="margin: 0vw 10vw 0vw 0vw;">
          <a class="nav-link active" aria-current="page">RESERVAR UNA CITA</a>
        </li>
        <li routerLink="cancelar" routerLinkActive="active" class="nav-item opciones" style="margin: 0vw 10vw 0vw 10vw;">
          <a class="nav-link active" aria-current="page">CANCELAR UNA CITA</a>
        </li>
        <li routerLink="login" routerLinkActive="active" class="nav-item opciones" style="margin: 0vw 0vw 0vw 10vw;">
          <a class="nav-link active" aria-current="page">INICIO DE FUNCIONARIOS </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
