element {
    --colorPag: #33be74;
}

.principal {
    align-content: center;

    width: 100%;
    height: 25vh;
    /* margin-bottom: 1%; */
    /* color: var(--colorPag); */

}

#fondoCasa {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.collage {

    /* margin-bottom: 20px; */
    width: 100%;
    height: 25vh;
}


.logo {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 75%;
    height: 75%;
}


.divNombre {
    align-content: right;
    margin-left: 35%;
    font-size: 150%;
}

.divMenu {
    /* margin-top: 2%; */
    margin-bottom: 0.5%;
    background-color: #039dfc;
    border-radius: 40px;
}

.nombre {
    align-content: center;
    margin-top: 4%;
    font-family: "Myriad-Pro";
    src: url(http://www.anaveer.in/honda/font/MYRIADPRO-REGULAR.OTF) format("truetype");
}

.opciones {
    font-weight: bold;
}

.opciones:hover {
    height: 150%;
    background-color: rgb(28, 60, 88);
    font-weight: bold;
    opacity: 90%;
    border-radius: 10px;
    text-decoration: underline;
}

/* CSS de carrusel */
.itemCarrusel {
    border: 1px solid black;
    height: 40vh;
    position: relative;
    background-image: linear-gradient(90deg, rgba(0, 51, 160, 0.6), rgba(0, 51, 160, 0.6), rgba(0, 51, 160, 0.6), rgba(0, 114, 206, 0.6), rgba(0, 114, 206, 0.6), rgba(0, 114, 206, 0.6));
}

.tarjetaCarrusel {
    height: 100%;
}

.flechasCarrusel {
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;

}

#contentItemsCarrusel {
    /* margin-top: 2%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 30%; */
    height: 22vh;
    width: 100%;
    overflow: hidden;
    align-items: center;
}

#tarjetaCarrusel-1 {
    background-color: rgb(157, 49, 157);
}

#tarjetaCarrusel-2 {
    background-color: #6e37e6;
}

#tarjetaCarrusel-3 {
    background-color: aquamarine;
}

a {
    text-decoration: none;
}

i {
    color: rgb(12, 145, 201)
}

img {
    width: 100%;
    height: 55%;
}


/* CSS de nuevo header */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.newNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    background: #1e71c4;
    /* 255e96 */
}

ul {
    position: relative;
    display: flex;
    gap: 100px;
}

ul li {
    position: relative;
    list-style: none;
}

ul li a {
    position: relative;
    font-size: 1.2em;
    text-decoration: none;
    line-height: 1.2em;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
    color: #fff;
    -webkit-text-stroke: 1px rgb(255, 255, 255, 0.5);
    cursor: pointer;
}


ul li a::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 0.2s;

    -webkit-text-stroke: 1px var(--cl);
}

ul li a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
}