.btn-primary span::after {
  content:"Reservar";
}
  
.btn-primary:hover {
  color:#fff;
  background-color:#5cb85c !important;
  border-color:#4cae4c !important;
  
}
  
.btn-primary:hover span::after {
  content:"Elegir";
}