<div class="div-titulo">
  <p class="lead">
    <strong>Seleccione una de las siguientes citas disponibles</strong>
  </p>
</div>

<table class="table table-striped">
  <thead>
    <tr *ngIf="citasDisponibles.length !== 0; else sinCitas">
      <th scope="col">Fecha</th>
      <th scope="col">Día</th>
      <th scope="col">Hora</th>
      <th scope="col">Funcionario</th>
      <th scope="col">Seleccionar</th>
      <!-- <th scope="col">{{recibidoDePadre}}</th> -->
    </tr>
    <ng-template #sinCitas><h3 style="color: red">No hay citas disponibles con el funcionario encargado del departamento</h3></ng-template>
  </thead>
  <tbody>
    <tr *ngFor="let cita of citasDisponibles">
      <td>{{cita.fecha.toLocaleDateString()}}</td>
      <td>{{devuelveDiaSemana(cita.fecha)}}</td>
      <td>{{cita.fecha.toLocaleTimeString('en-US', {hour12: true, hour: '2-digit', minute: '2-digit'})}}</td>
      <td>{{funcionarioEncargado.nombre}} {{funcionarioEncargado.apellido1}} {{funcionarioEncargado.apellido2}}</td>
      <!-- Validaciones extra: en caso de que las "citas fantasma" se añadan, no se pueden reservar -->
      <td *ngIf="cita.fecha.toLocaleTimeString() !== '12:00:00' && cita.fecha.toLocaleTimeString() !== '16:00:00'">
        <button type="button" class="btn btn-primary" (click)="cargarCitaPadre(cita); cargarDatosFormulario(); refrescarShowModal();"><span></span></button>
      </td>
    <!-- (click)="goToPage('formulario')"  entre button y type -->
    </tr>
  </tbody>
</table>

<!-- Se está usando fechaCitaString para mostrar o no este componente, aunque eso está medio cuestionable -->
<app-formulario *ngIf="fechaCitaString !== ''" [citaPadre]="citaPadre" [fechaCitaString]="fechaCitaString" 
[horaCitaFormateada]="horaCitaFormateada" [nombreFuncionario]="nombreFuncionario" [showModal]="showModal"></app-formulario>