<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Día</th>
      <th scope="col">Hora</th>
      <th scope="col">Funcionario</th>
      <th scope="col">Seleccionar</th>
      <!-- <th scope="col">{{recibidoDePadre}}</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cita of citasDisponibles">
      <th scope="row">{{cita.fecha.toLocaleDateString()}}</th>
      <td>{{devuelveDiaSemana(cita.fecha)}}</td>
      <td>{{cita.hora}}</td>
      <td>{{funcionarioEncargado.nombre}} {{funcionarioEncargado.apellido1}}</td>
      <td><button  type="button" class="btn btn-primary" (click)="seleccionar();">Reserva</button></td>
    <!-- (click)="goToPage('formulario')"  entre button y type -->
    </tr>
  </tbody>
</table>

<app-formulario [citaPadre]="citaPadre" [fechaCitaString]="fechaCitaString"></app-formulario>